[submodule "noob-grid"]
	path = noob-grid
	url = https://github.com/akirti/noob-grid
[submodule "easylife-jira-board"]
	path = jira-dashboard
	url = https://github.com/akirti/easylife-jira-board
[submodule "easylife-jira-api"]
	path = jira-api
	url = https://github.com/akirti/easylife-jira-api
[submodule "jira-api"]
	path = jira-api
	url = https://github.com/akirti/easylife-jira-api.git
[submodule "jira-dashboard"]
	path = jira-dashboard
	url = https://github.com/akirti/easylife-jira-board.git
[submodule "easyweaver-ui"]
	path = easyweaver-ui
	url = https://github.com/akirti/easyweaver-ui.git
[submodule "easyweaver-api"]
	path = easyweaver-api
	url = https://github.com/akirti/easyweaver-api.git
